body{
    background-image: url("images/bg.png");
    background-attachment: fixed;
    background-size: cover;
    margin-top: -1px;
}

.menu{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-image: url("images/bg1.jpg");
    margin-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.origami{
    background-color: white;
    border-radius: 10px;
    width: 10cm;
    margin-bottom: 2cm;
    transition: all 1s;
}
.origami:hover{
    box-shadow: 0px 0px 20px orange, 0px 0px 20px yellow;
}

i{
    margin-left: 20px;
    margin-top: 40px;
    color: white;
}
h1{
    font-family: 'Duru Sans';
    color: #00d9ff;
    font-size: 50px;
    text-align: center;
}
h3{
    font-family: 'Duru Sans';
    color: #60cbfc;
    font-size: 40px;
    text-align: center;
}

p{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 204, 255);
    text-align: center;
}

ul{
    list-style-type: none;
}
li::before{
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 15px;
    margin-right: 10px;
    margin-left: -20px;
}
li{
    margin-top: 0.5cm;
    font-family: 'Raleway';
    font-size: 20px;
    color: black;
}

#buttonLink{
    margin-top: 40px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Duru Sans';
    font-size: 15px;
    color: white;
    background: transparent;
    outline: none;
    border: 3px solid rgb(47, 179, 255);
    transition: all 0.5s ease-in-out;
}
#buttonLink:hover{
    transform: scale(1.1);
    background: rgb(47, 179, 255);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4em;
    transition: all 0.5s;
    text-align: center;
}
img:hover{
    transform: scale(1.15);
}