body{
    background-image: url("images/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

#headerBg{
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
    padding-top: 10px;
}

h1{
    font-family: 'Duru Sans';
    color: #00d9ff;
    text-align: center;
}
h3{
    font-family: 'Quicksand';
    color: #FCDC60;
    font-size: 30px;
}

p{
    font-family: 'Raleway';
    font-size: 25px;
    color: rgb(0, 204, 255);
}
li{
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
}

#buttonLink{
    position: relative;
    top: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Duru Sans';
    font-size: 15px;
    color: white;
    background: transparent;
    outline: none;
    border: 3px solid rgb(47, 179, 255);
    transition: all 0.5s ease-in-out;
}
#buttonLink:hover{
    transform: scale(1.1);
    background: rgb(47, 179, 255);
}

img{
    border-radius: 4em;
    transition: transform 0.5s , background-color 0.5s, box-shadow 0.5s;
    transform-origin: bottom left;
}
img:hover{
    transform: scale(1.1);
    background-color: rgb(47, 179, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}